.form {
    display: flex;
    border-top: 2px solid #353535;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    background: #353535;
  }
  
  input[type="file"]{
    display: none;
  }

  label {
    background-color: #353535;
  }

  
  @media (min-width: 320px) and (max-width: 480px) {
    svg {
      margin-top: 85%;
      margin-left: 2px;
    }
  }

  @media (min-width: 480px) and (max-width: 1200px) {
    svg {
      margin-top: 100%;
    }
  }
  

  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
  }